@font-face {
  font-family: "RobotoRegular";
  src: url('./assets/font/Roboto-Regular.ttf')
}

@font-face {
  font-family: "RobotoMedium";
  src: url('./assets/font/Roboto-Medium.ttf')
}

@font-face {
  font-family: "PoppinsRegular";
  src: url('./assets/font/Poppins-Regular.ttf')
}

@font-face {
  font-family: "PoppinsMedium";
  src: url('./assets/font/Poppins-Medium.ttf')
}


@font-face {
  font-family: "PoppinsSemiBold";
  src: url('./assets/font/Poppins-SemiBold.ttf')
}


@font-face {
  font-family: "OpenSansRegular";
  src: url('./assets/font/OpenSans-Regular.ttf')
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .Big-container {
    max-width: 1920px;
    margin: 0 auto;
  }
  
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-12 py-6 ;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}


#hero {
  position: relative;
  background-image: url(/src/assets/images/women.png);
  background-size: cover;
  background-position: center;
  height: 110vh;
  z-index: 1;
}


@media (max-width: 640px) {
  #hero {
    height: auto;
  }
}

#navLinks, explore{
  transition: transform  0.3s ease-in-out
}

#navLinks:hover{
  scale: 1.1;
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: yellow;

}

#explore:hover{
  scale: 1.1;
  color: yellow;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: yellow;
}